<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>keyup事件实现监听</title>
    <script src="../lib/vue_v2.6.2.js"></script>
</head>
<body>

<div id="app">
    <input type="text" v-model="firstname" @keyup="getFullname"> +
    <input type="text" v-model="lastname" @keyup="getFullname"> =
    <input type="text" v-model="fullname">
</div>


<script>
    var vm = new Vue({
        el: "#app",
        data: {
            firstname: "",
            lastname: "",
            fullname: ""
        },
        methods: {
            getFullname(){
                this.fullname = this.firstname +"-" + this.lastname;
            }
        }
    })
</script>

</body>
</html>